<!doctype html>
<html>
	<head>
        <title>Flight From</title>
        </head>
    <body>
	<form action="#" method="post">
		<p>
			<input type="radio" name="direction" value="arrivals" checked> <label>Arrivals</label>
			<input type="radio" name="direction" value="departues"> <label>Departues</label>
			<input type="radio" name="direction" value="any"> <label>All</label>
		</p><p>
			<label>Airline: </label>
			<input type="text" name="airline">
		</p><p>
			<label>Flight Number: </label> 
			<input type="text" name="flightnumber">
		</p><p>	
			<label>Country: </label>
			<input type="text" name="country">
		</p><p>
			<label>City: </label>
			<input type="text" name="city">
		</p><p>
			<label>Airport: </label>
			<input type="text" name="airport">
		</p><p>
			<label>Day of week: </label><br>
			{% for day in ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %}
				<input type="checkbox" name="{{day}}" value="{{day}}">
				<label>{{day}}</label>
			{% endfor %}
		</p><p>	
			<label>From date: </label>
			<input type="date" name="startdate" format="YYYY MM DD">
		</p><p>
			<label>To date: </label>
			<input type=date name="enddate" format="YYYY MM DD">
		</p><p>
			<input type=submit value-"submit">
		</p>
	</form>	
    </body>
</html>